*{
  margin: 0;
  padding: 0;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  cursor: pointer;
}

.navlist{  
 width: 100%;
 display: flex;
align-items: center; 
}

.navlist li{  
  text-align: center;
  list-style: none;
  padding: 26px 50px;

}
.navlist li a{ 
  font-size: 25px;
  text-decoration: none;
  color: white;

}

.navlist li a:hover{
  color: gray;

}


.background{
  background: rgba(255, 255, 255, 0.397) url(ss.jpg);
  background-size: cover;
  background-blend-mode: lighten;

}
.firstsection{
  height: 100vh;

}

.mainbox{
 
  text-align: left;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 50%;
  margin: auto;
}
